<nb-layout>
  <nb-layout-header fixed>
    <div class="row logo-container">
      <a class="sidebar-toggle-btn" (click)="toggle()"><i class="nb-menu"></i></a>
      <div class="header-title">Angular Boostrap Nebular Starter</div> 
      <nb-search class="search-btn" type="rotate-layout"></nb-search>
      <div class="right-part-header">
        <nb-user class="user-container align-self-end" [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
      </div>
    </div>
    <div>

    </div>
    <!-- <button nbButton status="success" size="xsmall" (click)="toggle()">Toggle</button> -->
  </nb-layout-header>

  <nb-sidebar> 
    <!-- <nb-sidebar-header>
      <div style="text-align:center">Sidebar Header</div> 
    </nb-sidebar-header> -->
    <nb-menu class="sidebar-menu" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <div class="row justify-content-end">
      <div class="col-1">
        Page Content
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
  </nb-layout-column>
</nb-layout>